:root {
	/* Colors */
	--light-orange: #f9a109;
	--dark-shades: #97969c;
	--light-blue-shades: #cccccd;
	--light-blue-bg: #fafafe;
	--light-blue: #56ccf2;
	--dark-bg: #80485b;
	--light-red: #eb5757;
	--white: #ffffff;
	--black: #000000;

	/* Font Size */
	--h1-titulos: 2.6rem;
	--h2-titulos: 2.4rem;
	--h3-productos: 1.8rem;
	--p-parrafos: 1.4rem;
	--h4-secciones: 1.4rem;
	--h5-contador: 1.2rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: 'Quicksand', sans-serif;
}

body {
	background-color: #f7f4f4;
	font-family: 'Quicksand', sans-serif;
}

.layout {
	display: flex;
}

.input-wrapper {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.input-input {
	/* background-color: var(--light-orange); */
	padding: 0.5rem;
	outline-color: var(--light-orange);
	border-radius: 1.2rem;
	border: 0.2rem solid var(--light-blue-shades);
}
.input-label {
	font-weight: bold;
	font-size: 1.35rem;
}

.btn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 1rem 0 0;
	margin-inline: auto;
	border-style: none;
	border-radius: 1rem;
	cursor: pointer;
}

.btn-primary {
	background-color: var(--light-orange);
	color: white;
}

.btn-secondary {
}

.btn-small {
	height: 3rem;
	font-size: 1.35rem;
	padding-inline: 2rem;
}

.btn-regular {
	height: 3.5rem;
	padding-inline: 2.5rem;
}

.btn-large {
	height: 4rem;
	padding-inline: 2.5rem;
}
